


/* nav starts */
/* nav bar */

.nav-bar {
    padding: 18px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-sec {
    /* background-color:violet; */
    z-index: 100;

    position: absolute;
    width: 100%;
}

.nav-links li a {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-right i {
    font-size: 22px;
}


.nav-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header .nav-logo img {
    display: block;
}

.header .nav-logo {
    width: 190px;
}


/* nav ends, header-sec ends */



/* banner sec starts */

.banner-sec{
    background: url(./image/banner-img.png) no-repeat;
    height:980px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-child{
    background-color: #fff;
    display: inline-block;
    margin:auto;
    padding: 76px 59px 75px 60px;
    border-radius: 20px;
    width: 100%;
}

.banner-text
{
    margin-bottom: 35px;
}

.banner-btn{
    background-color: #95A986;
    padding:29px 39px;
    text-transform: uppercase;
}
.banner-btn i{
    margin-left: 16px;
}
.explore-doors
{
    display: flex;
    justify-content: center;
}
/* banner sec ends */


/* /about sec starts/ */


.about-text{
    color: black;
    font-size: 16px;
    font-weight: 300;
}
.about-sec{
    padding:106px 0 151px;
}
.about-child{
    display: flex;
    margin: 0 -15px;
}
.about-left{
    width:40%;
}
.about-left-img{
    width:25%;
}
.about-left, .about-right{
    padding: 0 15px;
}
.about-right{
    display: flex;
    justify-content: space-between;
}
.about-text{
    line-height: 1.2;
    font-size: 16px;
    font-weight: 200;
    color:#5e5e5e;
    width: 83%;
    margin-bottom: 14px;
}
.about-left-img{
    margin-right: 25px;
}
.abt-upper-text{
    font-size:16px;
    text-transform: uppercase;
    color:#95a986;
}

.about-right-img>figure>img{
    border-radius: 0 10px 0 0;
    margin-top:50px;

}
/* about sec ends */